@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground antialiased; }
  input, select, textarea {
    @apply bg-input text-foreground placeholder:text-muted-foreground;
  }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: #EFF6FF; }
  ::-webkit-scrollbar-thumb { background: #BFDBFE; border-radius: 3px; }
  ::-webkit-scrollbar-thumb:hover { background: #FF0A6C; }
}
